body {
    font-family: 'Segoe UI', Tahoma, Arial, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #eed;
    height: 100%;
    line-height: 180%;
    background-color: #049;
}

h3, h2 {
    line-height: 160%;
}

.carousel {
    margin-top: 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: #ff5522;
}

    a:hover, a:active {
        text-decoration: none;
        color: rgb(0, 60, 121);
        background-color: transparent !important;
    }

.qot {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 85%;
    margin-top: 4%;
    margin-left: 4%;
    text-align: left;
    font-family: Tahoma !important;
    position: relative;
    animation: fading2 4s;
    background-color: #036 !important;
    color: #fff !important;
    padding: 35px;
    border-radius: 20px;
}

header {
        background-color: #fff !important;
        border: 0;
        font-weight: bold;
        margin: 0px;
        padding: 15px;
        position: fixed;
        top: 0;
        width: 100%;
        height: 150px;
        font-size: 24px;
        z-index: 200;
    }

    header::after {
        content: '';
    }

    header nav {
        text-decoration: none;
        border: 0;
        top: 0;
        left: 20%;
        margin: 0px;
        width: 100%;
        
    }

footer {
    padding: 20px;
    background-color: #006;
    color: #bce;
    position: relative;
    bottom: 0px;
    margin: 0px;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #cdf;
}

.kontakt a:hover {
    text-shadow: 0 0 8px #eed;
}

.navbar-collapse, nav {
    background-color: transparent;
    top: 0;
}

.navbar-toggle {
    color: rgb(0, 60, 121) !important;
}

.icon-bar {
    color: rgb(0, 60, 121) !important;
}

#menu {
    position: absolute;
    left: 50%;
}

    .navbar-toggle:hover {
        color: #b2e5ff !important;
    }

header img {
    width: 150px;
    height: auto;
}

header ul {
    background-color: #fff;
}

header li {
    float: left;
}

    header li a {
        color: rgb(0, 60, 121);
        background-color: transparent;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }

        header li a:before {
            content: '​';
        }

        header li a:hover {
            color: #ff3300;
            background-color: transparent;
            text-decoration: none;
        }

        header li a:active {
            color: #39e;
            background-color: transparent;
        }

            header li a:active:hover {
                color: #ffff00;
                background-color: transparent;
            }

main {
    position: relative;
    margin-left: 5%;
    margin-top: 100px;
    padding: 15px;
    padding-top: 40px;
}

main .about {
    font-size: 22px;
}

#carousel01 {
    margin-top:120px;
    margin-bottom: -110px;
}

#carousel01 .item {
 animation: fading 3s;
 animation-timing-function: ease;
}

#carousel01 .item {
    padding-left: 35%; 
}

#carousel01 .item img {
    height: 400px !important;
    width: auto !important;
}

@keyframes fading {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fading2 {
  0% {opacity: 0;}
  20% {opacity: 0;}
  80% {opacity: 0.8;}
  100% {opacity: 1;}
}
