html {
  height: 100%
}

body {
   height: 100%;
}

main {
   background-image: linear-gradient(red, yellow, white, yellow, red);
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

header { 
  
}

footer { 

}

h1 {
  text-shadow: 2px 2px 5px #fff;
}
